<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">About Me</h1>
    </div>
</div>
<main class="container">
    <div class="row text-center">
    <div class="col">
    <br>
    I am Chandni Patel. I have completed my Master degree in "Computer Engineering". Currently, I am pursuring advance diploma in "Software Engineering Technology".
    <br>
    <br>
      I wroked as research assistance and had experice of volunteer handling workshop on networking.
      I have good technical skill along with interpersonl skills Taking Initiative, Team Leadership and Punctual. Combination of technical skills and interpersonal skills
      makes me good candidate for new oppertunites.
      <p><a href = "https://github.com/Chandni23Patel/oldResume/blob/master/Chandni%20Patel_Resume.pdf">My Resume</a></p>
    </div>
    <div class="col">
        <img src="/images/ChandniPatel.jpeg" class="rounded-circle" height="400" width="350"/>
    </div>
    </div>
</main>
